.content-guide--tooltip-icon {
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  margin: 0 0 0 .5rem;
  vertical-align: bottom;
}
.content-guide-tooltip.ui-widget {
  background: #ffffff;
  border: 1px solid #cecece;
  border-radius: 1rem;
}
.content-guide-tooltip .ui-tooltip-content {
  padding: 0 1rem;
}
