.content-guide--description {
  background: #eeeeee;
  font-size: .75rem;
  padding: .25rem .5rem;
}
.content-guide--description p:first-of-type {
  margin-top: 0;
}
.content-guide--description p:last-of-type {
  margin-bottom: 0;
}
